<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <center>
                    <button class="btn btn-primary btnscls" ng-click="adddatapop()">Add User Data</button>
                </center>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center table-responsive tablcls">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id.No</th>
                            <th>User Name</th>
                            <th>User Message</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody ng-show="checkdata">
                        <tr ng-repeat="user in userobj">
                            <td>{{$index +1}}</td>
                            <td>{{user.user}}</td>
                            <td>{{user.usermsg}}</td>
                            <td>{{user.date}}</td>
                            <td>
                                <button ng-click='editpop(user)' class="btn btn-primary">Edit</button>
                                <button ng-click='deletefun(user)' class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center" ng-hide="checkdata">
            <h3>No data Found</h3>
        </div>
    </div>
</div>
<script type="text/ng-template" id="editdata">
    <div class="modal-header text-center headercls">
        <h3>Edit Details</h3>
    </div>
    <div class="modal-body col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <label>User Name:</label>
                <input type="text" class="form-control" name="name" ng-model='editdata.user'>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <label>User Message:</label>
                <textarea type="text" class="form-control" name="name" ng-model='editdata.usermsg'></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="closepop()">Close</button>
        <button class="btn btn-success" ng-click="closepop();editfunc(editdata)">Submit</button>
    </div>
</script>
<script type="text/ng-template" id="datafrompop">
    <div class="modal-header text-center headercls">
        <h3>Enter Details</h3>
    </div>
    <div class="modal-body col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <label>User Name:</label>
                <input type="text" class="form-control" name="name" ng-model='data.username'>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <label>User Message:</label>
                <textarea type="text" class="form-control" name="name" ng-model='data.usermsg'></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="closepop()">Close</button>
        <button class="btn btn-success" ng-click="closepop();savedata(data)">Submit</button>
    </div>
</script>
<script type="text/ng-template" id="dataresponse">
    <div class="modal-header text-center headercls">
        <h3>Response</h3>
    </div>
    <div class="modal-body text-center">
        <h3>{{response.message}}</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="closepop();reloader()">OK</button>
    </div>
</script>
<style type="text/css">
tr:hover {
    background-color: #f5f5f5;
}

table thead tr th {
    text-align: center;
    background-color: #ccc;
    color: #337ab8;
    height: 45px;
}

.headercls {
    color: white;
    background-color: #4e9e6e;
}

.btnscls {
    margin-top: 5%;
    /*width: 20%;*/
    height: 42px;
    font-size: 20px;
}

.tablcls {
    margin-top: 5%;
}

</style>
